node_modules/
.expo/
dist/
web-build/
expo-start.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.kotlin/
.metro-health-check*
android/
ios/
